h3 {
   font-family: arial;
   font-size: 25px;
   color: #76d0ad; 
}
input
{
   margin-bottom: 5px;
}

p
{ 
   line-height: 100%;
}
hr
{
   border: solid;
   color: #76d0ad;
   width: 75%;
   margin-right: 75%;
   
}
.button
{
font-size: 10px;
padding: 10px;
background-color: #76d0ad;
border-radius: 50px;
color: #000000;
}