h1 {
   font-family: "arial";
   font-size: 50px;
   color: #008000; 
}
input
{
   margin-bottom: 5px;
}

p
{ 
   line-height: 100%;
   font-size: 20px;
}
hr
{
   border: solid;
   color: #008000;
   width: 75%;
   margin-right: 55%;
   
}
.button
{
font-size: 20px;
padding: 10px;
background-color: #008000;
border-radius: 50px;
color: #000000;
}
h3 {
   font-family:"arial";
   font-size: 30px;
   color: #008000;
}
body{
   color: #008000;
}